*~
#*
*.aux
*.bbl
*.blg
*.log
*.nav
*.snm
*.o
*.so
*.out
*.Renviron
*.Rout
*.toc
/cache/*.*
/cache/figs/*.*
/cache/inforeach/*
/tmp/*.*
bak
figure
cache
*concordance.tex
.DS_Store
*.Rproj
.Rproj.user
